<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="assimp.v140.redist" version="3.2" targetFramework="native" />
  <package id="assimp-v143" version="5.4.3" targetFramework="native" />
  <package id="directxtex_desktop_win10" version="2025.10.28.1" targetFramework="native" />
</packages>